body{
	background: #dddddd;
}

.fullHeight{
	height: 100%;
}

.logo{
	color:#2980b9;
	font-family: 'Montserrat', sans-serif;
}
.logo-title{
	color:#ccc;
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px;
	margin-bottom: 0px;
	
}

.copy{
	color:#2980b9;
	font-family: 'Montserrat', sans-serif;
}

.box-info{
	box-shadow: 10px 10px 10px #999;
	background-color:#0000ff;
	position: fixed;
	height: 100%;
}


.box-login{
	margin: 50px 15%;
	width: 70%;
	
	box-shadow: 0px 0px 10px #999;
	/*max-width: 350px;*/
}

.btn-primary {
    color: #fff;
    background-color: #004f8e;
    border-color: #004f8e;
}

.btn-primary:hover {
    color: #fff;
    background-color: #1b4b72;
    border-color: #1b4b72;
}

hr{
	margin-top:5px;
	margin-bottom:15px
}



/*
ESTILO MOBILE
*/
@media (max-width: 992px){
	.box-login{
		margin: 40px 10%;
		width: 80%;
		
		box-shadow: 0px 0px 10px #999;
		/*max-width: 350px;*/
	}
	
}



